
body {
    font-family: 'Roboto', sans-serif; /* Fuente más moderna y estética */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000000;
  }
  

  .encabezado {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 0px 5px 5px  #fff;
  }
  
  .encabezado__titulo {
    font-size: 3.5rem; 
    margin: 0;
    font-weight: 700; 
  }
  

  .contenido {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .botonera {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 700px;
  }
  
  .botonera__boton {
    background-color: #333333; 
    color: #ddd; 
    border: none;
    padding: 18px 30px; 
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
  }
  
  /* Efecto cuando el mouse pasa por encima */
  .botonera__boton:hover {
    background-color: #ffffff; /* Fondo blanco */
    color: #333333; /* Texto oscuro */
    transform: scale(1.1); /* Botón más grande */
  }
  
  /* Efecto cuando el botón está presionado */
  .botonera__boton:active {
    transform: scale(1); /* Vuelve a su tamaño original */
  }
  
  /* Pie de página */
  .pie {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 15px 20px;
  }
  
  .pie__texto {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
  }
  
  /* Fuente importada de Google Fonts para una mejor estética */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap');
  